<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon</title>
</head>

<body>
    <h1>POKEMON</h1>

    <ul>
        <li>Data Structures and Algorithms</li>
        <li>Coding Course on Udemy</li>
        <li>Personal Projects</li>
    </ul>


    <script src="app.js"></script>
</body>



</html>